.CustomizationBar {
    display: flex;
    flex-direction: column;
}

.CustomizationNav {
    display: flex;
    align-items: stretch;
    height: 35px;
}

.navIcon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingBlock {
    box-sizing: border-box;
    position: fixed; 
    z-index: 2;
    top: 37px;
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 120px;
    padding: 25px;
    overflow:hidden;
}