.CustomizationBar {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.CustomizationNav {
    background-color: aquamarine;
    display: flex;
    align-items: stretch;
}

.navIcon {
    background-color: pink;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}