.AddExpense {
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.MuiDateCalendar-root, .MuiDateCalendar-monthContainer, .MuiPickersFadeTransitionGroup-root, .MuiDayCalendar-header, .css-fex7nw-MuiButtonBase-root-MuiPickersDay-root{
    /* background-color: rgb(160, 160, 160); */
}