.ExpenseReport {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.expenseReportTable {
    width: 150px;
    margin: auto;
    text-align: left;
}

.category {
    font-weight: 700;
    text-decoration: underline;
}